---
import Layout from "../layouts/Layout.astro";

import IconTriffecta from "../components/icon/IconTriffecta.tsx";
import IconExternalLink from "../components/icon/IconExternalLink.tsx";

import { getImage, Picture } from "astro:assets";
import ImgHeroData from "../assets/hero-data.png";

const optimizedImgHeroData = await getImage({
  src: ImgHeroData,
  format: "webp",
});

// DO NOT follow this page
const seo = {
  title: "Data Room",
  description: "Triffecta data room",
  path: "/data-room/",
  robots: "noindex, nofollow",
};

const folders = [
  {
    title: "Resources",
    cards: [
      {
        title: "Pitch Deck",
        href: "https://drive.google.com/file/d/1dEeU-DeZrL3SW3CRBNyRiohkoPZAxPQf/view?usp=drive_link",
      },
      {
        title: "Our Team",
        href: "https://drive.google.com/file/d/1Dbjkzm7GB-lFFSu5CdOq9hnF2fB4sc6-/view?usp=drive_link",
      },
      {
        title: "Business Docs",
        href: "https://drive.google.com/drive/folders/1kkIm8BQaqtf4_4rw5prLJiemz5sM4btS?usp=drive_link",
      },
    ],
  },
  {
    title: "Proposition",
    cards: [
      {
        title: "Competitive Landscape",
        href: "https://drive.google.com/file/d/1AcYAzLtGPAPM-CFEsxwWSQ7CGuKX6BYL/view?usp=drive_link",
      },
      {
        title: "Market Opportunity",
        href: "https://drive.google.com/file/d/1pWhHk5IYyrBCHVdVsRphe7h3Fd4jcUQH/view?usp=drive_link",
      },
      {
        title: "Product Roadmap",
        href: "https://drive.google.com/file/d/1lZD1SIzmQzcZUDv1ShxbZMhKd5AE7QEy/view?usp=drive_link",
      },
    ],
  },
  {
    title: "Product Overview",
    cards: [
      {
        title: "Product Video",
        href: "https://drive.google.com/file/d/180LPuFYjZWoHLdfikgeyPgHVtu8Eg3CR/view?usp=drive_link",
      },
      {
        title: "Tech Docs",
        href: "https://drive.google.com/drive/folders/1aM_Mi9Dyh00ApO8MmzVfmdsIlegP38Sk?usp=drive_link",
      },
    ],
  },
  {
    title: "Due Diligence",
    cards: [
      {
        title: "Banking Docs",
        href: "https://drive.google.com/drive/folders/1YrljXhg3vIR5_6jrCpA8bI0mw2icVKj9?usp=drive_link",
      },
      {
        title: "Cap Table",
        href: "https://drive.google.com/file/d/11AE7vzUxuRs3ArrDJ34QtezDEj4_gXcU/view?usp=drive_link",
      },
      {
        title: "Customer Contracts",
        href: "https://drive.google.com/drive/folders/1FYkmklwkfi7aFC__dE_eHU-LhehBLCNz?usp=drive_link",
      },
      {
        title: "Insurance Docs",
        href: "https://drive.google.com/drive/folders/1B6tslXOVkwTHziorAF5v_dXbDVeplX1c?usp=drive_link",
      },
      {
        title: "SEIS / EIS Advanced Assurance",
        href: "https://drive.google.com/drive/folders/1sWnWImtyi9w8Lk6JnCsmgNReNibHkApG?usp=drive_link",
      },
    ],
  },
  {
    title: "Financials",
    cards: [
      {
        title: "Financials Overview",
        href: "https://drive.google.com/file/d/1Z6sMt3fPtgnHOwmPpRgwQRGTeSx-yoGU/view?usp=drive_link",
      },
      {
        title: "Software Development Transactions",
        href: "https://drive.google.com/file/d/1ZkTVVvDMwfHpJZ1QcKp91NXUqc8JIHK0/view?usp=drive_link",
      },
      {
        title: "Depreciation Schedule",
        href: "https://drive.google.com/file/d/12-NXvuHOfdrRb_3z6KMinOKNMhLV1Zej/view?usp=drive_link",
      },
      {
        title: "Loan Application",
        href: "https://docs.google.com/spreadsheets/d/1ooAuFC6jYSNlor-MtgjdKj3GPKYVEz6Y/edit?usp=drive_link&ouid=103345407896235373100&rtpof=true&sd=true",
      },
    ],
  },
];
---

<Fragment slot="head">
  <link rel="preload" href={optimizedImgHeroData.src} as="image" />
</Fragment>
<Layout showNewsletter={false} seo={seo}>
  <section class="bg-secondary relative overflow-hidden py-18 text-white">
    <div class="relative z-10 container mx-auto">
      <div class="relative z-20">
        <div class="inline-block rounded-lg bg-[rgba(38,50,56,0.75)] p-4">
          <h1
            class="text-4xl font-bold text-wrap text-clip sm:text-5xl md:text-6xl"
          >
            <span class="text-accent-dark">Data</span> Room
          </h1>
        </div>
      </div>
      <div
        class="absolute top-[-20%] left-[-75%] z-10 sm:top-[-300%] sm:left-[-20%]"
      >
        <IconTriffecta
          size="1000px"
          strokeWidth="0.7"
          transform="rotate(212)"
        />
      </div>
    </div>

    <Picture
      id="hero"
      src={ImgHeroData}
      formats={["webp", "avif", "png"]}
      widths={[480, 768, 1280, 1920]}
      sizes="100vw"
      alt="A picture of a woman shopping for groceries"
      fetchpriority="high"
      loading="eager"
      class="absolute bottom-0 left-0 z-0 h-full w-full object-cover object-top"
    />
  </section>

  <section class="mx-auto pt-6">
    <div class="relative container">
      <div class="lg:p-6">
        <h2 class="mb-4 text-3xl font-bold">We’re Triffecta</h2>
        <p class="mb-4 text-lg">
          Triffecta Retail Media is a UK-based AdTech, retail media, CPG,
          marketing automation innovator.
        </p>
        <h3 class="mt-4 mb-4 text-xl font-bold">What We Do</h3>
        <p class="mb-4 text-lg">
          We provide brands and agencies with an innovative retail media
          platform that leverages AI-driven automation to unify campaign
          execution and maximise revenue potential.
        </p>
        <h3 class="mt-4 mb-4 text-xl font-bold">The Problem</h3>
        <p class="mb-4 text-lg">
          Triffecta is solving the retail media industry's inefficiency problem,
          where fragmented systems, manual workflows and inconsistent reporting
          waste budgets, reduce targeting accuracy and hinder scalability, by
          providing scalable, automated solutions that optimise performance and
          unlock full market potential. Triffecta's innovation integrates across
          all retail media networks for seamless, AI-driven campaign execution.
        </p>
        <h3 class="mt-4 mb-4 text-xl font-bold">The Solution</h3>
        <p class="mb-4 text-lg">
          A focus on retail media execution, at scale, for brands across a
          diverse network of retailers.
        </p>
        <p class="text-lg">
          Triffecta enables brands and agencies to scale and simplify retail
          media using our unified platform to plan, execute and optimise
          campaigns across all retail media networks from one interface.
        </p>
      </div>
    </div>
  </section>

  <div class="mb-8">
    {
      folders.map((folder) => (
        <section class="mx-auto py-1">
          <div class="relative container">
            <div class="lg:p-6">
              <h2 class="mb-4 text-2xl font-bold">{folder.title}</h2>
              <div class="relative grid grid-cols-[repeat(auto-fill,minmax(260px,1fr))] gap-4 pt-4 pb-1">
                {folder.cards.map((card) => (
                  <a
                    href={card.href}
                    target="_blank"
                    class="group flex flex-col rounded-2xl bg-white shadow-[0_4px_12px_rgba(25,25,25,0.03),0_1px_2px_rgba(25,25,25,0.02),0_0_0_1px_rgba(42,28,0,0.07)] transition hover:shadow-lg"
                  >
                    <div class="flex items-center px-3 py-2.5">
                      <span class="group-hover:text-primary-dark flex-grow text-[15px] font-medium text-gray-800">
                        {card.title}
                      </span>
                      <div class="group-hover:stroke-primary-dark stroke-gray-800">
                        <IconExternalLink size="20px" />
                      </div>
                    </div>
                  </a>
                ))}
              </div>
            </div>
          </div>
        </section>
      ))
    }
  </div>
</Layout>
