---
import { Image } from "astro:assets";

const { title, src, caption, url, width, height } = Astro.props;
---

<figure class="my-8 text-center">
  {title && <h3 class="mb-2 font-bold">{title}</h3>}
  {
    src && (
      <Image
        src={src}
        alt={title || caption}
        widths={[640, 768, 1024, 1280]}
        sizes="100vw"
        class="mx-auto"
        loading="lazy"
        width={width}
        height={height}
      />
    )
  }
  {
    caption && (
      <figcaption class="mt-2 text-sm text-gray-500 italic">
        {url ? (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="underline"
          >
            {caption}
          </a>
        ) : (
          caption
        )}
      </figcaption>
    )
  }
</figure>
