---
import "../styles/global.css";
import { SEO } from "astro-seo";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx";
import CookieBanner from "../components/CookieBanner.tsx";
import DevConsole from "../components/DevConsole.astro";

// SEO
import ImgHeroTop from "../assets/hero-top.png";

// When using Prod switch
//const base = "/marketing-site/";
const base = "/";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- When not hosted on domain -->
    <base href={base} />

    <title>Triffecta | Revolutionizing Retail Media at Scale</title>
    <meta name="generator" content={Astro.generator} />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fad89a" />
    <meta name="application-name" content="Triffecta" />
    <meta name="apple-mobile-web-app-title" content="Triffecta" />

    <meta
      name="description"
      content="Triffecta simplifies retail media execution with AI-powered automation, standardized data, and single-campaign activation across multiple retailers."
    />
    <meta name="author" content="Triffecta" />
    <meta
      name="keywords"
      content="retail media platform, AI-powered advertising, campaign automation, media buying, multi-retailer campaigns, retail ad tech, ecommerce marketing, Triffecta"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="notranslate" />

    <!--
    twitter={{
      creator: "@triffecta-com",
    }}
    -->
    <SEO
      title="Triffecta | Revolutionizing Retail Media at Scale"
      description="Triffecta simplifies retail media with AI-powered campaign automation, standardized reporting, and single-campaign execution across top retailers"
      openGraph={{
        basic: {
          title: "Triffecta | Revolutionizing Retail Media at Scale",
          type: "website",
          image: ImgHeroTop.src,
        },
      }}
      extend={{
        link: [
          { rel: "icon", href: `${base}favicon.ico`, sizes: "any" },
          { rel: "icon", href: `${base}favicon.svg`, type: "image/svg+xml" },
          { rel: "apple-touch-icon", href: `${base}icon.png` },
          { rel: "manifest", href: `${base}site.webmanifest` },
          { rel: "shortcut icon", href: `${base}favicon.ico` },
        ],
        meta: [
          { name: "twitter:image", content: "/hero-top.png" },
          {
            name: "twitter:title",
            content: "Triffecta | Retail Media Simplified",
          },
          {
            name: "twitter:description",
            content:
              "Run one campaign across multiple retailers with Triffecta. Experience automated retail media, clean data, and real-time reporting",
          },
          { property: "og:url", content: "https://triffecta.com" },
          { property: "og:type", content: "website" },
          {
            property: "og:image:alt",
            content: "Triffecta making retail media easy",
          },
          {
            name: "linkedin:profile",
            content: "https://www.linkedin.com/company/triffecta-com/",
          },
        ],
      }}
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C1LG8PF9LR"
    ></script>
  </head>
  <body class="bg-background">
    <Header client:load />
    <main>
      <slot />
    </main>
    <Footer client:load />
    <DevConsole />
    <CookieBanner baseUrl={base} client:load />
  </body>
</html>
